body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}
header{
    align-items: baseline;
    background-color: #162535;
    display: flex;
    justify-content: space-between;
    left:0;
    padding-bottom: 20px;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 2;
}
header h4.logo{
    font-weight: 600;
}
header div.menu{
    display: flex;
    justify-content: flex-end;
}
img.cart_logo{
    margin-right: 25px;
}
img.cart_logo:hover{
    transform: scale(1.2);
}
div.menu a:last-child{
    margin-right: 17px;
}
section.main-display{
    background-color: rgba(196, 196, 196, 0.05);
    flex-grow: 1;
    padding-top: 3px;
}
div.container{
    margin-top: 95px;
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    background-color: transparent;
    border: none;
    margin: 2rem 1rem;
}
.card-body{
    padding: 7px;
}
.card-body button{
    border: none;
    background-color: inherit;
    color: #F1F6F9;
    outline: none;
}
.card-body form button{
    color: #C4C4C4;
}
.card-body form button:hover{
    color: #F1F6F9;
}
.card-body li{
    font-size: 14px;
    padding-bottom: 2px;
}
a.btn{
    background-color: #d9dddf;
    width: 100%;
}
a.btn:hover{
    background-color: #049c0c;
    color: #f1f6f9;
}