body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
section.main-display{
    background-color: rgba(196, 196, 196, 0.05);
    flex-grow: 1;
    padding-top: 3px;
    width: 100%;
}
.product{
    background-color: rgba(196, 196, 196, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto ;
    margin-top: 80px;
    padding: 20px;
    width: 650px;
}
.product img{
    width: 16rem;
}
.product-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-details h5{
    font-weight: 700;
    text-transform: uppercase;
}
.product-details,.list-group,.list-group-item{
    background-color: transparent;
}
.list-group{
    border: none;
}
.list-group-item{
    border: none;
    font-size: 14px;    
}
.product .btn.cart{
    border: none;
    background-color: #d9dddf;
    outline: none;
    width: 70%;
}
.product .btn.cart:hover{
    background-color: #dda706;
}
a.btn{
    margin-top: 5px;
    width: 70%;
}

@media(max-width: 660px){
    .product{
        background-color: transparent;
        flex-direction: column;
        width: auto;
    }
    .product img{
        margin: auto;
    }
    .product-details-container{
        display: flex;
        flex-wrap: wrap;
    }
}